* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;

}

.container {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vh;
    height: 60vh;
    background-color: #3b4252; /* Cor de fundo refinada */
    color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Sombra suave para destacar */
    gap: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #88c0d0; /* Cor destaque para o título */
}

.container-itens {
    display: flex;
    justify-content: space-between; /* Itens bem espaçados */
    align-items: center;
    background-color: #4c566a; /* Fundo mais claro para os itens */
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
    width: 100%;
    height: 40vh;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #5e81ac; /* Destaque para os itens */
    color: #ffffff;
    width: 20vh;
    height: 25vh;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animação ao passar o mouse */
}

.item img {
    margin-bottom: 10px;
}

.item p {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.item button {
    background-color: #88c0d0;
    color: #2a2f3a;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.item button:hover {
    background-color: #81a1c1; /* Cor do botão ao passar o mouse */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Leve destaque ao hover */
}

.item:hover {
    transform: translateY(-5px); /* Elevação ao passar o mouse */
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); /* Sombra mais forte no hover */
}

.fechar {
    align-self: flex;
    background-color: #bf616a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 10px;
}

.fechar:hover {
    background-color: #d08770;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}
